<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bill.demoproject.dao.ProjectEntityMapper">
    <select id="queryProjectList" parameterType="java.lang.String"
            resultType="org.bill.demoproject.dao.entity.ProjectEntity">
        select id,
               user_id          as "userId",
               project_name     as "projectName",
               project_content  as "projectContent",
               created_by       as "createdBy",
               creation_date    as "creationDate",
               last_updated_by  as "lastUpdatedBy",
               last_update_date as "lastUpdateDate"
        from project_info
        where project_name like concat('%', #{projectName}, '%') or id = #{id}
    </select>
    <insert id="addProjectInfo" parameterType="org.bill.demoproject.dao.entity.ProjectEntity">
        insert into project_info (id, user_id, project_name, project_content, created_by, creation_date,
                                  last_updated_by,
                                  last_update_date)
        VALUES (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR},
                #{projectContent,jdbcType=VARCHAR}, #{createdBy,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP},
                #{lastUpdatedBy,jdbcType=VARCHAR}, #{lastUpdateDate,jdbcType=TIMESTAMP})

    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.bill.demoproject.dao.entity.ProjectEntity">
        update project_info
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="projectName != null">
                project_name = #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectContent != null">
                project_content = #{projectContent,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="creationDate != null">
                creation_date = #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedBy != null">
                last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateDate != null">
                last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <delete id="deleteProjectById" parameterType="org.bill.demoproject.dao.entity.ProjectEntity">
        delete from project_info where id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>