<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bill.demoproject.dao.QuestionnaireEntityMapper">
    <select id="queryQuestionnaireList" parameterType="org.bill.demoproject.dao.entity.QuestionnaireEntity"
            resultType="org.bill.demoproject.dao.entity.QuestionnaireEntity">
        select id,
               project_id as projectId,
               questionnaire_type as questionnaireType,
               questionnaire_name as questionnaireName,
               questionnaire_description as questionnaireDescription,
               status,
               created_by as createdBy,
               creation_date as creationDate,
               last_updated_by as lastUpdatedBy,
               last_updated_date as lastUpdatedDate,
               start_time as startTime,
                end_time as endTime,
                release_time as releaseTime
        from questionnaire_info
        where (questionnaire_name like concat('%', #{questionnaireName}, '%') or project_id = #{projectId} or id = #{id}) and status = 1
    </select>
    <insert id="addQuestionnaireInfo" parameterType="org.bill.demoproject.dao.entity.QuestionnaireEntity">
        insert into questionnaire_info (id, project_id, questionnaire_type, questionnaire_name, questionnaire_description,
                                        status, created_by, creation_date, last_updated_by, last_updated_date, start_time, end_time, release_time)
        VALUES (#{id,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, #{questionnaireType,jdbcType=VARCHAR},
                #{questionnaireName,jdbcType=VARCHAR}, #{questionnaireDescription,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR},
                #{createdBy,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR},
                #{lastUpdatedDate,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{releaseTime,jdbcType=TIMESTAMP})

    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.bill.demoproject.dao.entity.QuestionnaireEntity">
        update questionnaire_info
        <set>
            <if test="projectId != null">
                project_id = #{projectId,jdbcType=VARCHAR},
            </if>
            <if test="questionnaireType != null">
                questionnaire_type = #{questionnaireType,jdbcType=VARCHAR},
            </if>
            <if test="questionnaireName != null">
                questionnaire_name = #{questionnaireName,jdbcType=VARCHAR},
            </if>
            <if test="questionnaireDescription != null">
                questionnaire_description = #{questionnaireDescription,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=VARCHAR},
            </if>
            <if test="creationDate != null">
                creation_date = #{creationDate,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdatedBy != null">
                last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdatedDate != null">
                last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="releaseTime != null">
                release_time = #{releaseTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <delete id="deleteQuestionnaireById" parameterType="org.bill.demoproject.dao.entity.QuestionnaireEntity">
        delete from questionnaire_info where id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>